#category_holder
  .row
    .large-12
      .row
        .large-4.medium-12.columns.need_heading
          %h2 I need help
          %p Post your needs with a breif decription. One more sentance telling about the needs section.
        .large-4.medium-12.columns.join
          - if user_signed_in?
            #join_holder.post_need
              = link_to 'Post A Need', [:new, :need]
          - else
            #join_holder
              = link_to 'Join', new_user_registration_path
        .large-4.medium-12.columns.need_heading
          %h2 I can help
          %p See a need you can help with? Send a secure message to the requester. 
    #browse_needs_title.large-12
      
    #browse_needs_list.large-12
      = form_tag '/#browse_needs_title', method: 'get' do |f|
        - @categories.each do |category|
          = button_tag category.title.titleize, class: "category_link #{'active' if params[:filter] == category.title}", value: category.title, name: 'filter'
      - if user_signed_in?
        #show_my_needs
          = link_to 'Show only my needs', "/?my_needs=true#browse_needs_title"
          &nbsp;&nbsp;|&nbsp;&nbsp;
          = link_to 'Show all needs', '/#browse_needs_title'


#cards_holder.row
  - if @needs.empty?
    %p No needs match that filter.

  = render @needs

= content_for :footer do
  .row#about
    .large-12.columns
      %h3 About 1 Good Samaritan
      %p The story of the Good Samaritan derives from the Bible telling about a man who was robbed and left for dead. He was avoided by men who are typically expected to be righteous and of good deeds.  They refused to help as the man lay there battered and desperate.  Finally, a Samaritan stopped to help.  
      %p Now, Samaritans were not thought of highly in those times and were not considered to be the most outstanding citizens.  This Samaritan cared for the injured man and found him room and board until he healed, paying for every expense.  When asked the question of who was the best neighbor, it was obvious that the one who cared for the man was, even though he would normally not be viewed as such. 
      %p With this in mind, we present this website, where even the most unexpected neighbor can emerge as someone else's hero.  All it takes is ONE GOOD SAMARITAN.  See Luke 10:25-37 in the Bible for the whole story!
